h1{
    background-color: black;
    color: whitesmoke;
    text-align: left;
    
}
h2{
    background-color: rebeccapurple;
    color:white;
    text-align: center;
}
h3{
    background-color: lightskyblue;
    color: darkblue;
    text-align: right;
    text-decoration: underline;
}