*{
    padding: 0%;
    margin: 0%;
}

.container{
    height: 700px;
    width: 1100px;
    margin: 50px;
    display: flex;
    border: 3px solid black;
}

.topbar{
    background-color: lightgray;
    height: 65px;
    width: 950px;
    margin-left: 75px;
    display: flex;
}

.topbar > h1{
    margin: 15px;
    
}

.topbar > .searchbtn{
    background-color: white;
    height: 30px;
    width: 400px;
    border: 2px solid black;
    margin: 15px 15px 15px 130px;
}

.topbar > .searchbtn > h4{
    margin: 5px;
    color: rgb(179, 168, 168);
}

.topbar > button{
    height: 30px;
    width: 100px;
    background-color: rgb(11, 108, 219);
    color: white;
    font-size: medium;
    margin: 17px 5px 5px 130px;
}
/*END OF NAVBAR CODE */
.leftcolumntop{
    height: 260px;
    width: 500px;
    border: 3px solid black;
    margin-top: 100px;
    margin-left: -950px;
    display: flex;
}

.leftcolumntop > h2{
    font-size: xx-large;
    margin-top: 30px;
    margin-left: 45px;
}

.leftcolumntop > h3{
    font-size: x-large;
    display: flex;
    margin-top: 100px;
    margin-left: -60px;
}

.leftcolumntop > h4{
    display: flex;
    margin-top: 140px;
    margin-left: -75px;
}

.leftcolumntop > h4 > u{
    font-style: italic;
    text-decoration: none;
}

.leftcolumntop > p{
    display: flex;
    margin-top: 25px;
    font-size: large;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 50px;
}

.leftcolumntop > p > span{
    color: blue;
    text-decoration: underline;
    margin-right: 5px;
    margin-left: 5px;
}

.leftcolumntop > .partTwo{
    display: flex;
    margin-top: 25px;
    font-size: large;
    font-weight: bold;
    margin-top: 125px;
    margin-left: -215px;

}

.leftcolumntop > button{
    height: 35px;
    width: 110px;
    margin-left: -335px;
    background-color: yellow;
    font-weight: bold;
    box-shadow: 2px 5px;
    margin-top: 175px;
}
/*END OF LEFT COLUMN TOP*/

.leftcolumnbottom{
    height: 260px;
    width: 500px;
    border: 3px solid black;
    margin-top: 30px;
    margin-left: -950px;
    display: flex;
}

.leftcolumnbottom > h2{
    font-size: xx-large;
    margin-top: 30px;
    margin-left: 45px;
}

.leftcolumnbottom > h3{
    font-size: x-large;
    display: flex;
    margin-top: 100px;
    margin-left: -60px;
}
.leftcolumnbottom > h4{
    display: flex;
    margin-top: 140px;
    margin-left: -75px;
}
.leftcolumnbottom > h4 > u{
    font-style: italic;
    text-decoration: none;
}

.leftcolumnbottom > p{
    display: flex;
    font-size: large;
    font-weight: bold;
    width: 225px;
    margin-top: 100px;
    margin-left: 50px;
}

.leftcolumnbottom > p > span{
    color: blue;
    text-decoration: underline;
    margin-right: 5px;
    margin-left: 5px;
}

.leftcolumnbottom > #secondLine{
    margin-top: 125px;
    margin-right: -300px;
    margin-left: -225px;
    display: inline-block;
    width: 275px;
}

.leftcolumnbottom > #thirdLine{
    margin-top: 150px;
    margin-left: 25px;
}

.leftcolumnbottom > button{
    height: 35px;
    width: 110px;
    margin-left: -375px;
    background-color: yellow;
    font-weight: bold;
    box-shadow: 2px 5px;
    margin-top: 175px;
}
/*END OF LEFT COLUMN BOTTOM*/

.righttopbox{
    height: 200px;
    width: 400px;
    border: 3px solid black;
    display: flex;
    margin-top: -560px;
    margin-left: -405px;
}

.righttopbox > h1{
    width: 225px;
    margin-top: 15px;
    margin-left: 50px;
}

.righttopbox > button{
    height: 35px;
    width: 300px;
    background-color: rgb(106, 148, 109);
    font-weight: bold;
    box-shadow: 2px 5px;
    margin-top: 125px;
    border: 2px solid black;
    margin-left: -220px;
}
/*END OF RIGHT TOP BOX*/
